---
// src/pages/helpdesk/[id].astro
import MainLayout from '../../layouts/MainLayout.astro';
import TicketDetail from '../../components/TicketDetail';

export const prerender = false;
---

<MainLayout title="Detalle del Ticket">
  <div class="max-w-5xl mx-auto px-4 py-8">
    <TicketDetail client:load />
  </div>
</MainLayout>
